---
http_interactions:
- request:
    method: get
    uri: https://api.postcodes.io/postcodes/se13gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"325-ze4BpTcDULFlrfXBe8FakeLGQO8"
    body:
      encoding: UTF-8
      string: '{"status":200,"result":{"postcode":"SE1 3GB","quality":1,"eastings":533204,"northings":179526,"country":"England","nhs_ha":"London","longitude":-0.082397,"latitude":51.498986,"european_electoral_region":"London","primary_care_trust":"Southwark","region":"London","lsoa":"Southwark
        003J","msoa":"Southwark 003","incode":"3GB","outcode":"SE1","parliamentary_constituency":"Bermondsey
        and Old Southwark","admin_district":"Southwark","parish":"Southwark, unparished
        area","admin_county":null,"admin_ward":"London Bridge & West Bermondsey","ced":null,"ccg":"NHS
        Southwark","nuts":"Lewisham and Southwark","codes":{"admin_district":"E09000028","admin_county":"E99999999","admin_ward":"E05011104","parish":"E43000218","parliamentary_constituency":"E14000553","ccg":"E38000171","ced":"E99999999","nuts":"UKI44"}}}'
  recorded_at: Sun, 03 Nov 2019 13:02:24 GMT
recorded_with: VCR 5.0.0
